
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

hola mundo
esto es un ejemplo de mvc

<script src="~/js/Page/Render.js"></script>
<script src="~/js/Page/Ajax.js"></script>
<script src="~/js/Page/Handlers.js"></script>
<script src="~/js/Page/Captura.js"></script>